* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

#logo {
    margin-left: 50px;
    width: 120px;
}
.containerheader {
    background-color: rgb(221, 236, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.estilizarnav {
    display: flex;
    list-style: none;
    gap: 30px;
    /* font-size: medium; */
    cursor: pointer;
    color: rgb(2, 2, 112);
}
.home {
    color: blue;
    text-decoration: underline;
}
.login {
    background-color: rgb(221, 236, 240);
    color: blue;
    cursor: pointer;
    padding: 20px;
    /* gap: 30px; */
    align-items: flex-end;
    padding: 5px 20px;
    border-radius: 15px;
    border-color: blue;
    }
    .signup {
    color: white;
    background-color: blue;
    cursor: pointer;
    padding: 20px;
    /* gap: 20px; */
    align-items: flex-end;
    padding: 5px 20px;
    border-radius: 15px;
    border-color: blue;
    }

    body {
        background-color: rgb(221, 236, 240);
        margin: 0 auto;
            }
        .box1 {
        font-size: 24px;
        margin: 100px 280px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: 100px;
         }

    .texto {
        display: flex;
        gap: 15px;
            }

    .texto1 {
        font-size: small;
        color: blue;
        }
    .color {
        color: blue;
        text-decoration: underline;
        font-style: italic;
    }








































































































    .barrazul {
        background-color: blue;
        color: white;
        width: auto;
        height: 80px;
        
    }
    .barra {
        /* margin-left: 460px; */
        margin: 0px 0 0 280px;
        width: max-content;
        display: flex;
        justify-content: left;
        align-content: space-around;
        gap: 60px;
    }
    .menuazul {
        list-style: none;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        }

    .subtitulo {
       display: flex;
       justify-content: left;
       gap: 90px;
       margin-left: 280px;
    }
    .medico {
        width: 600px;
        height: auto;
        margin: -467px 0px 0px -150px;
    }

    .texto2 {
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0px 280px;
        
    }

    .containerbranco {
        background-color: floralwhite;
        padding-top: 80px;
        
    }

    #containercard{
        display: flex;
        justify-content: left;
        gap: 40px;
        cursor: pointer;
        margin: 10px 280px;
    }

        .cards {
           text-align: justify;
           width: 230px ;
           height: 260px;
           border: blue solid;
           border-radius: 20px;
           padding: 20px;
        }

        .cards2 {
           color: white;
           text-align: justify;
           background-color: blue; 
           width: 230px ;
           height: 260px;
           border-radius: 20px;
           padding: 30px;
        }
        .imgcard {
            background: aquamarine;
            border-radius: 999px;
            padding: 10px;
        }
        





































































        .containersurgeon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 80px;
            gap: 30px;
            margin-left: 180px;
        }
        .texto3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 32px;
            font-weight: bolder;
            padding-bottom: 20px;
        }
        .lista1 {
            list-style-type: none;
            padding: 20px;
            margin-right: 100px;
        }
        .paragrafo1 {
            color: blue;
            padding: 20px;
            cursor: pointer;
        }




        .containeravaliacao {
            display: flex;
            padding: 50px 0;
            gap: 50px;
            margin-left: 80px;
            }

            .subtit {
                color: blue; 
                font-size: small;  
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                
                     }

        .left {
            display: flex;
            flex-direction: column;
            font-size: 24px ;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-left: 120px;
            }

            .color2 {
                color: blue;
            }
       
        .right {
            padding: 10px;
            display: flexbox;
            justify-items: left;
            background-color: floralwhite;
            gap: 10px;
            border: cadetblue solid;
            border-radius: 20px;
            width: 300px;
            }

        
        .star {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: left;
            align-content: center;
            }

      .newsletter {
        width: 900px;
        height: 190px;
        padding: 40px;
        margin: 0px 0px 30px 280px;
        background-color: blue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: center;
        color: white;
        border-radius: 20px;
        display: flexbox;
        justify-content:center;
        justify-items: center;    
        align-items: center;
    }
   
      .boxwhite {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        width: 500px;
        height: 60px;
        border-radius: 40px;
        background-color: floralwhite;
        margin-top: 10px;
      }
      

      .botao {
        padding: 10px;
        background-color: blue;
        width: 40px;
        height: 40px;
        border-radius: 999px;
        
      }

.containerfooter {
        background-color: blue;
        color: white;
        width: auto;
        height: 300px;
        display: flex;
        justify-content: space-around;
        
}

.box1footer {
    width: 200px;
    height: 100px;
    display: flexbox;
    text-align: justify;
    margin-left: 180px;
    /* padding: 20px; */
    }
.h3box1 {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 50px;
    /* margin-left: 80px; */
            }

.h3box2 {
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
    /* padding-top: 50px; */
            }

.pbox1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: small;
    list-style: none;
    /* padding: 20px; */
}
.box2footer {
    list-style: none ;
    display: flexbox;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    padding-top: 50px;
}
 .redessociais { /*não consegui fazer os elementos da rede social aparecer */
    display: flex;
    justify-content: left;
    align-items: end;
    cursor: pointer;
    width: 20px;
    height: 20px;
    
}

.allright {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: solid floralwhite;
    background-color: blue;
    width: auto;
    color: white;

            
        }
        

