* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    margin-left: 50px;
    width: 200px;
}
.containerheader {
    background-color: rgb(221, 236, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.estilizarnav {
    display: flex;
    list-style: none;
    gap: 30px;
    /* font-size: medium; */
    cursor: pointer;
    color: rgb(2, 2, 112);
}
.home {
    color: blue;
    text-decoration: underline;
}
.login {
    background-color: rgb(221, 236, 240);
    color: blue;
    cursor: pointer;
    padding: 20px;
    /* gap: 30px; */
    align-items: flex-end;
    padding: 5px 20px;
    border-radius: 15px;
    border-color: blue;
    }

.signup {
    color: white;
    background-color: blue;
    cursor: pointer;
    padding: 20px;
    /* gap: 20px; */
    align-items: flex-end;
    padding: 5px 20px;
    border-radius: 15px;
    border-color: blue;
    }

    body {
        background-color: rgb(221, 236, 240);
        width: 80%vh;
        /* margin: 0 auto; */
            }
    .bloco1 {
        margin-top: 80px;
        margin-left: 70px;;
        font-size: 24px;
        /* font-weight: bold; */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         }

    .texto {
        display: flex;
        gap: 15px;
            }

    .texto1 {
        font-size: small;
        color: blue;

    }
    .color {
        color: blue;
        text-decoration: underline;
        font-style: italic;
    }




    .barrazul {
        background-color: blue;
        color: white;
        width: auto;
        height: 80px;
        
    }
    .barra {
        width: max-content;
        display: flex;
        justify-content: left;
        align-content: space-around;
        gap: 50px;
    }
    .menuazul {
        list-style: none;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 70px;
    }
    .subtitulo {
       display: flex;
       justify-content: left;
       align-content: space-between;
       gap: 130px;
       margin-left: 70px;
    }
    .medico {
        width: 600px;
        height: auto;
        margin: -467px 0px 0px 300px;
    }

    .texto2 {
        font-size: 24px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 70px;
        margin-top: 100px;
    }

    #containercard{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
        margin-top: 100px;
        margin-left: 70px;

        }

        .cards {
           width: 300px ;
           height: 280px;
           border: blue solid;
           border-radius: 20px;
           padding: 20px;
        }

        .cards2 {
           color: white;
           background-color: blue; 
           width: 300px ;
           height: 280px;
           border-radius: 20px;
           padding: 20px;
        }
        .imgcard {
            background: aquamarine;
            border-radius: 999px;
            padding: 10px;
        }
        .imgcard2 {
            background: aquamarine;
            border-radius: 999px;
            padding: 10px;
        }
